{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conge</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conge.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if conge.date %}{{ conge.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Repeatday</th>
                <td>{% if entity.repeatDay %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conge_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('conge_edit', { 'id': conge.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
