

        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
            <meta charset="utf-8" />
            <title>Login Page - Ace Admin</title>

            <meta name="description" content="User login page" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/font-awesome/4.2.0/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/fonts/fonts.googleapis.com.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/css/ace.min.css') }}" class="ace-main-stylesheet" id="main-ace-style" />



            <!-- inline styles related to this page -->

            <!-- ace settings handler -->
            <script src="{{ asset('assets/js/ace-extra.min.js') }}"></script>

        </head>

        <body class="login-layout light-login">
        <div class="main-container">
        <div class="main-content">
        <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
        <div class="login-container">
        <div class="center">
            <a href="#" id="logo"><img style="     margin-top: 150px;; "   src="{{ asset('images/logo.png') }}" alt="logo" class="img-small "></a>

            <h4 class="blue" id="id-company-text">&copy; EPIL TECH </h4>
        </div>

        <div class="space-6"></div>

        <div class="position-relative">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            <i class="ace-icon fa fa-coffee green"></i>
                            Please Enter Your Information
                        </h4>

                        <div class="space-6"></div>
                        {% trans_default_domain 'FOSUserBundle' %}

                        {% block fos_user_content %}
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <form action="{{ path("login_check") }}" class="m-t" role="form" method="post" >

                        <fieldset>
                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" name="_username" class="form-control" placeholder="Username" required="true" />
															<i class="ace-icon fa fa-user"></i>
														</span>
                                </label>

                                <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" name="_password" class="form-control" placeholder="Password" required="true" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
                                </label>

                                <div class="space"></div>

                                <div class="clearfix">
                                    <label class="inline">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"> Remember Me</span>
                                    </label>

                                    <button  class="width-35 pull-right btn btn-sm btn-primary">
                                        <i class="ace-icon fa fa-key"></i>
                                        <span class="bigger-110">Login</span>
                                    </button>
                                </div>

                                <div class="space-4"></div>
                            </fieldset>
                        </form>
                        {% endblock %}
                    </div><!-- /.widget-main -->


                </div><!-- /.widget-body -->
            </div><!-- /.login-box -->

         </div>
        </div>
        </div><!-- /.col -->
        </div><!-- /.row -->
        </div><!-- /.main-content -->
        </div><!-- /.main-container -->

        <!-- basic scripts -->

        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-ui.custom.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.ui.touch-punch.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.easypiechart.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.sparkline.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.flot.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.flot.pie.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.flot.resize.min.js') }}"></script>


        <!-- ace scripts -->
        <script src="{{ asset('assets/js/ace-elements.min.js') }}"></script>
        <script src="{{ asset('assets/js/ace.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.2.1.1.min.js') }}"></script>

        <script type="text/javascript">
            if('ontouchstart' in document.documentElement) document.write("<script src='{{ asset('assets/js/jquery.mobile.custom.min.js')}}'>"+"<"+"/script>");
        </script>

        <!-- inline scripts related to this page -->
        <script type="text/javascript">
            jQuery(function($) {
                $(document).on('click', '.toolbar a[data-target]', function(e) {
                    e.preventDefault();
                    var target = $(this).data('target');
                    $('.widget-box.visible').removeClass('visible');//hide others
                    $(target).addClass('visible');//show target
                });
            });



            //you don't need this, just used for changing background
            jQuery(function($) {

                $('#btn-login-light').on('click', function(e) {
                    $('body').attr('class', 'login-layout light-login');
                    $('#id-text2').attr('class', 'grey');
                    $('#id-company-text').attr('class', 'blue');

                    e.preventDefault();
                });


            });
        </script>
        </body>
        </html>
